body{
    background-image: url("../assets/women-schooling.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    background-position: center;
}

body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(55, 10, 255, 0.596);
    z-index: -999;
}